.navWrapper {
  width: 100%;
  padding: 1rem 0;
}

.container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  color: white;
  font-size: 1.2rem;
}

.leftNav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--font-logo);
}

.middleNav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.rightNav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.registerButton {
  background-color: var(--btn-background-color);
  padding: 0.3rem 1rem;
  color: #fff;
  border-radius: 50px;
}

.toggledMenuListContainer {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  background-color: var(--background-color-primary);
  z-index: 20;
  transform: translateY(50px);
  transition: transform 1s linear;
}

.toggledMenuListParent {
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggledMenuList {
  width: 90%;
  padding: 1rem;
  cursor: pointer;
}

.toggledMenuList:hover {
  background: var(--y-background-color-secondary);
  border-radius: 5px;
  transition: all 0.1s;
  color: #000;
}

.toggledMenuList a:hover {
  color: #333;
}

.menuBar {
  cursor: pointer;
}

@media screen and (min-width: 340px) and (max-width: 640px) {
  .middleNav {
    display: none;
  }

  .rightNav {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .menuBarContainer {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .middleNav {
    display: none;
  }

  .rightNav {
    display: none;
  }
}

@media screen and (min-width: 1536px) {
  .container {
    width: 50%;
  }
}

@media screen and (min-width: 3100px) {
  .container {
    width: 30%;
  }
}
