.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--background-color-tertiary);
}
/* .container section {
  scroll-margin-top: 20px;
  transition: all 0.5s linear;
} */
.wrapper {
  background-color: var(--background-color-primary);
  color: white;
  width: 100%;
}

@media screen and (max-width: 300px) {
}

@media screen and (min-width: 641px) and (max-width: 690px) {
}

@media screen and (min-width: 700px) and (max-width: 992px) {
}

@media screen and (min-width: 1000px) and (max-width: 1275px) {
}

@media screen and (min-width: 1280px) and (max-width: 1500px) {
}

@media screen and (min-width: 1536px) and (max-width: 3000px) {
}

@media screen and (min-width: 3100px) {
}
