/*Third Section styles*/
.parent {
  background-color: var(--background-color-secondary);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.parent h2 {
  text-align: center;
  text-decoration: underline;
  font-family: var(--font-italics);
  font-size: 2.4rem;
}
.container {
  width: 80%;
  margin: 0 auto;
  height: 500px;
}
.wrapper {
  display: grid;
  width: 700px;
  margin: 0 auto;
}
.carousel__container {
  display: flex;
  grid-area: 1 / 1 / auto / auto;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 0;
  position: relative;
  right: -100px;
  transition: all 0.5s ease-in-out 0s;
  height: 25rem;
}
.carousel__container img {
  width: 100%;
}
.control__container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
}
.control__container img {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .parent {
    height: 850px;
  }
  .container {
    width: 100%;
  }
  .wrapper {
    display: grid;
    width: 300px;
    margin: 0 auto;
  }
  .carousel__container img {
    object-fit: cover;
    width: 300px;
    height: 550px;
  }
  .control__container {
    position: relative;
    top: 150px;
    transform: translateY(0);
    margin: 1rem auto;
    width: 70%;
  }
}

@media screen and (min-width: 780px) and (max-width: 980px) {
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 999px) {
  .container {
    width: 90%;
  }
  .control__container {
    width: 80%;
    margin: 0 auto;
    left: 10%;
  }
}

@media screen and (min-width: 1536px) and (max-width: 1950px) {
  .control__container {
    width: 60%;
    margin: 0 auto;
    left: 20%;
  }
}

@media screen and (min-width: 1951px) and (max-width: 2200px) {
  .control__container {
    width: 50%;
    margin: 0 auto;
    left: 25%;
  }
}

@media screen and (min-width: 3000px) {
  .control__container {
    width: 30%;
    margin: 0 auto;
    left: 35%;
  }
}
