.container {
  padding: 0;
  margin: 0;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.back {
  text-align: right;
}

.back a {
  color: blue;
}

.back a:visited {
  color: purple;
}
